<div>
  <h4><%= link_to list.name, list_path(list) %></h4>
  <p><%= list.description %><span><%= format_date(list.created_at) %></span></p>
  <div>
    <%= link_to edit_list_path(list) do %>
      <i class="fa fa-pencil-square-o fa-2x"></i>
    <% end %> 

    <%= link_to list_path(list), method: :delete do %>
      <i class="fa fa-trash fa-2x"></i>
    <% end %>
  </div>
</div>
