<%= render 'shared/content_title', title: @list.name %>

<% unless @list.items.empty? %>
  <%= form_for @list, method: :patch do |f| %>
    <ul>
      <%= f.fields_for :items do |item_form| %>
        <li>
          <%= item_form.check_box :_destroy %>
          <%= item_form.object.name %>
          <%= item_form.object.description %>
          qty: <%= item_form.object.qty %>
        </li>
      <% end %>
    </ul>
    <%= f.submit 'Delete Items' %>
  <% end %>
<% end %>

<div>
  <%= form_for [@list, @item] do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br/>
    <%= f.label :description %>
    <%= f.text_field :description %>
    <br/>
    <%= f.label :qty %>
    <%= f.number_field :qty %>
    <br/>
    <%= f.submit 'Add Item' %>
  <% end %>
</div>
